<div class="row">
    <div class="col-xl-9">
        <div id="chart">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="col-xl-3">
                        <label class="form-label">Publisher<span class="text-danger">*</span></label>
                        <select class="form-select" formControlName="budgeted" aria-label="Default select example">
                            <option *ngFor="let publisher of publishersSorted" [value]="publisher">{{ publisher }}</option>
                        </select>
                    </div>
                    <div class="col-xl-3">
                        <label class="form-label">From -> Month <span class="text-danger">*</span> </label>
                        <div class="input-group mb-3">
                            <input type="text" autocomplete="off" class="form-control" bsDatepicker id="datetimepicker1"
                            formControlName="monthYear1" [bsConfig]="{ dateInputFormat: 'MMM YYYY' }"
                            (bsValueChange)="onDateSelected($event)" [bsValue]="currentDate">
                            <span class="input-group-text" id="form_input_group"><i class="ri-calculator-line"></i></span>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <label class="form-label">To -> Month <span class="text-danger">*</span> </label>
                        <div class="input-group mb-3">
                            <input type="text" autocomplete="off" class="form-control" bsDatepicker id="datetimepicker2"
                            formControlName="monthYear2" [bsConfig]="{ dateInputFormat: 'MMM YYYY' }"
                            (bsValueChange)="onDateSelected1($event)" [bsValue]="currentDate">
                
                            <span class="input-group-text" id="form_input_group"><i class="ri-calculator-line"></i></span>
                        </div>
                    </div>
                </div><!-- end card header -->

                <div class="card-body">
                    <apx-chart
                        [series]="chartOptions.series"
                        [chart]="chartOptions.chart"
                        [xaxis]="chartOptions.xaxis"
                        [stroke]="chartOptions.stroke"
                        [colors]="chartOptions.colors"
                        [dataLabels]="chartOptions.dataLabels"
                        [legend]="chartOptions.legend"
                        [markers]="chartOptions.markers"
                        [grid]="chartOptions.grid"
                        [yaxis]="chartOptions.yaxis"
                        [title]="chartOptions.title"
                    ></apx-chart>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
    </div><!--end col-->
</div><!--end row-->
